$primary-color: #003366;
$secondary-color: #004766;
$tertiary-color: #003247;
$quaternary-color: #bfecff;
$quinary-color: #80d9ff;
$white: #fff;

$error-color: #ff0000;
$success-color: #00ff00;
$warning-color: #ffcc00;
$info-color: #00ccff;

